<div class="note-show-container">
<div class="note-show-box">
    <h1>Note</h1>

    <p>
      <%= @note.title %><br>
    </p>
    <p>
      <%= @note.date %><br>
    </p>
    <p>
      <%= @note.instructor %><br>
    </p>
    <p>
      <%= @note.description %><br>
    </p>

    </div>
    </div>
