<h1><%= "Welcome #{current_user.name}" %></h1>
  <div>
    <div class="home-buttons">
      <%= link_to notes_path, method: :get, class: 'nav-link home-nav-link' do %>
      <i class="bi bi-journal-text" title="All Notes"></i>
      <p>All Notes</p>
      <% end %>
      <%= link_to new_note_path, method: :get, class: 'nav-link home-nav-link' do %>
      <i class="bi bi-pen" title="New Note"></i>
      <p>New Note</p>
      <% end %>
    </div>
  </div>

<h3 class="top-tags">Top Tags</h3>
<div id="tag_cloud">
      <% tag_cloud @tag_counts, %w[m] do |tag| %>
        <span class="badge badge-light"><%= link_to "#{tag.name.parameterize(separator: '_')
}", tag_path(tag.name)%></span>
    <% end %>
    </div>

