<div class="note-show-container animate__animated animate__bounceInLeft">
<%= render "shared/welcomebar" %>

<% if current_user.notes.any? %>
  <hr />
  <hr />
  <%= render "shared/noteindex" %>
<% end %>
<hr />
<hr />
<%= render "shared/welcomenotes" %>
</div>