/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 // "bootstrap-sprockets" must be imported before "bootstrap" and "bootstrap/variables"
 @import "bootstrap-sprockets";
 @import "bootstrap";

main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.welcome-title{
  text-align: center;
}

.btn{
  font-size: 0.8em !important;
}

tr{
  font-size: 1.3em;
}

h1{
  font-family: league-gothic, sans-serif;
  font-size: 5em !important;
}

h2{
  font-family: league-gothic, sans-serif;
  font-size: 4em !important;
}

h3{
  font-family: league-gothic, sans-serif;
  font-style: italic;
  font-size: 3em !important;
}

.sign-in-box{
  width: 30vw;
  max-width: 300px;
  text-align: center;
}

.sign-up-box{
  width: 40vw;
  max-width: 350px;
}

.custom-control-input{  
  font-size: 40px;
}

.sign-in-wrapper{
  height: 90vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.navbar {
  width: 100vw;
  font-size: 12px;
}

.mt-2{
  padding-top: 15px;
}

.note-show-container, .note-show-box, .note-edit-box{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.note-show-box, .note-edit-box{
  align-items: left;
}

.note-edit-box th {
  text-align: right;
}

.card {
  width: 400px;
  border: none;
  border-radius: 20px;
  background-color: #fff

}

.articles {
  font-size: 10px;
  color: #474747
}

.spaced-text-card{
  line-height: 20px;
  margin-top: 14px;
}

.sign-up-bottom-buttons{
  text-align: center;
}

.training-since-custom {
  padding-top: 10px;
}


.navbar-nav{
  align-items: center;
}

.dropdown-menu {
  right: 0 !important;
  left: auto !important;
}

.sort-arrows{
  font-size: 0.8em !important;
}

.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

.home-buttons {
  display: flex;
  flex-direction: row;
  align-items: center;
  text-align: center;
  font-size: 1em;
}

.home-nav-link{
  color: black !important;
}

th > a{
  color: black !important;
}

.note-preview-container, .note-preview-box, .note-preview-box-style{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-width: 350px;
  width: auto;
}

.note-preview-box-style{
  border: none;
}

.description-field{
  min-height: 100px;
  min-width: 350px;
  width: auto;
}

.stat-card-custom{
  display: flex;
  flex-direction: row;
  text-align: left;
  min-width: 350px;
  width: auto;
}

input:focus, .description-field:focus {
  outline: none !important;
  background-color: rgb(216, 216, 216);
}

#note_date{
  font-family: league-gothic, sans-serif;
  font-size: 5em !important;
  display: flex;
  flex-direction: row;
}

.bi-eye, .bi-trash{
  color: black !important;
  padding: 0px;
  opacity: 50%;
}

.bi-eye:hover, .bi-trash:hover{
  opacity: 100%;
}

.bi-trash{
  font-size: 15px !important;
}

.bi{
  font-size: 20px;
  padding-left: 5px;
  padding-right: 5px;
}

.bi-person-lines-fill{
  font-size: 25px !important;
}



.log-in-bold{
  font-style: bold !important;
  margin-bottom: 10px !important;
}

td, th{
  vertical-align: middle !important;
}

.table-title {
  text-align: left !important;
}

.table-title a {
  color: black !important;
}

// Animations
.animate-slide-out-down {
  animation: slide-out-down 0.4s ease;
  animation-fill-mode: forwards;
}
@keyframes slide-out-down {
  from {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }

  to {
    visibility: hidden;
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }
}

.animate-slide-in-up {
  animation: slide-out-up 0.4s ease;
}
@keyframes slide-out-up {
  from {
    opacity: 0;
    transform: translate3d(0, 20px, 0);
  }

  to {
    opacity: 1;
    transform: translate3d(0, 0%, 0);
  }
}

.animate-fade-in-center {
  animation: fade-in-center 0.4s ease;
  animation-fill-mode: forwards;
}
@keyframes fade-in-center {
  from {
    opacity: 0;
    transform: scale(0.9);
  }

  to {
    opacity: 1;
    transform: scale(1);
  }
}

.animate-fade-out-center {
  animation: fade-out-center 0.4s ease;
  animation-fill-mode: forwards;
}
@keyframes fade-out-center {
  from {
    opacity: 1;
    transform: scale(1);
  }

  to {
    opacity: 0;
    transform: scale(0.9);
  }
}

// Custom animations
.animate-to-fullscreen {
  animation: to-fullscreen 0.4s ease;
  animation-fill-mode: forwards;
}

@keyframes to-fullscreen {
  to {
    top: 0;
    left: 0;
    width: 100%;
    height: 400px;
  }
}

#tag_cloud {
  text-align: center;
  padding-bottom: 2vh;
  max-width: 50vw;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

#tag_cloud a {
  text-decoration: none;
  color: black;
  font-size: 2em;
}

#tag_cloud span {
  margin: 5px;
}

#tag_cloud .badge:hover {
  background-color:rgb(207, 207, 207);
}