<div class="note-show-container">
  <div class="note-edit-box">
    
    <div class="note-preview-container">

      <div class="note-preview-box">
        <%= form_for @guide do |f| %>

        <h2><%= f.text_field :title, placeholder: "Class Title", class: "note-preview-box-style" %></h2>
        <div class="stat-card-body">
          <p>
            <h3><%= f.text_field :instructor, placeholder: "Instructor", class: "note-preview-box-style" %></h3>
          </p>
          <p class="note-show-text">
            <%= f.text_area :description, placeholder: "Description", class: "description-field note-preview-box-style" %>
          </p>
        </div>
      </div>
    </div>

    <% end %>